$nav-disabled-cursor: not-allowed;
$nav-disabled-opacity: .3;

.header {
    display: flex;
    border-radius: 80px;
    padding: 5px;
    user-select: none;
    align-items: center;
    flex-direction: column;
    height: fit-content;

    z-index: 999;

    position: fixed;
    width: 100%;
    left: 0;

    gap: 15px;

    &_disabled {
        cursor: $nav-disabled-cursor;
        opacity: $nav-disabled-opacity;
        pointer-events: none;
    }
}