$logo-disabled-cursor: not-allowed;
$logo-disabled-opacity: .3;

.logo {
    max-width: fit-content;
    transition: .6s;

    svg{
        path[data-h='true']{
            fill: var(--h-color);
            transition: .6s;
        }

        path[data-h='false']{
            fill: var(--base-color);
            transition: .6s;
        }
    }

    &:hover{
        svg{
            path[data-h='false']{
                fill: var(--hover-base-color);
                transition: .6s;
            }
            path[data-h='true']{
                fill: var(--hover-h-color);
                transition: .6s;
            }
        }
    }

    &_disabled {
        cursor: $logo-disabled-cursor;
        opacity: $logo-disabled-opacity;
        pointer-events: none;
    }
}